@* <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">

        <div class="card card-flush shadow-sm">
            <div class="card-body py-5">
                <img alt="Logo" src="/demo7/src/media/patterns/asmetalhome.png" class="w-100" />
            </div>
            <div class="card-footer">
                <div class="col-md-12" style="text-align: center;">
                    <h1 class="card-title">%100 Yerli Üretim , Premium Kalite</h1>
                </div>
                <br>
                <div style="text-align: center;">
                    <h6> 1979 yılında sektöre ilk adımı atan firmamız artan tecrübesi ile
                        kalitesini ve güçlü marka imajını katlayarak yoluna devam etmektedir.
                    </h6>
                </div>
            </div>
        </div>



        <div class="card card-flush shadow-sm mt-10 bg-light-dark">
            <div class="card-footer" style="text-align: center;">

            </div>

            <div class="card-footer py-5">

                <div class="container mb-4">
                    <div class="d-flex">
                        <div class="col-md-1">
                            <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-11-29-094551/core/html/src/media/icons/duotune/communication/com014.svg-->
                            <span class="svg-icon svg-icon-success svg-icon-3x"><svg width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.0173 9H15.3945C14.2833 9 13.263 9.61425 12.7431 10.5963L12.154 11.7091C12.0645 11.8781 12.1072 12.0868 12.2559 12.2071L12.6402 12.5183C13.2631 13.0225 13.7556 13.6691 14.0764 14.4035L14.2321 14.7601C14.2957 14.9058 14.4396 15 14.5987 15H18.6747C19.7297 15 20.4057 13.8774 19.912 12.945L18.6686 10.5963C18.1487 9.61425 17.1285 9 16.0173 9Z"
                                        fill="currentColor" />
                                    <rect opacity="0.3" x="14" y="4" width="4" height="4" rx="2" fill="currentColor" />
                                    <path
                                        d="M4.65486 14.8559C5.40389 13.1224 7.11161 12 9 12C10.8884 12 12.5961 13.1224 13.3451 14.8559L14.793 18.2067C15.3636 19.5271 14.3955 21 12.9571 21H5.04292C3.60453 21 2.63644 19.5271 3.20698 18.2067L4.65486 14.8559Z"
                                        fill="currentColor" />
                                    <rect opacity="0.3" x="6" y="5" width="6" height="6" rx="3" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <div class="col-md-11">
                            <h3 class="card-title">Hakkımızda</h3>
                            <p>ASMETAL , binek ve hafif ticari araçlar için Yönlendirme ve Süspansiyon parçaları
                                üretiminde
                                kalitesi ve bilinilirliği ile Türkiye ve Avrupa’nın sektöründeki en köklü
                                üreticilerindendir.</p>
                        </div>
                    </div>

                </div>

                <div class="container mb-4">
                    <div class="d-flex">
                        <div class="col-md-1">
                            <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-11-29-094551/core/html/src/media/icons/duotune/arrows/arr028.svg-->
                            <span class="svg-icon svg-icon-success svg-icon-3x"><svg width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M12.9 10.7L3 5V19L12.9 13.3C13.9 12.7 13.9 11.3 12.9 10.7Z"
                                        fill="currentColor" />
                                    <path d="M21 10.7L11.1 5V19L21 13.3C22 12.7 22 11.3 21 10.7Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <div class="col-md-11">
                            <h3 class="card-title">Vizyonumuz</h3>
                            <p>Müşterilerimiz, çalışma arkadaşlarımız, iş ortaklarımız, tedarikçilerimiz ve ülkemiz
                                adına en
                                güvenilir ve kaliteli Yönlendirme ve Süspansiyon Parçaları üreticisi olmak.</p>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="d-flex">
                        <div class="col-md-1">
                            <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-11-29-094551/core/html/src/media/icons/duotune/maps/map001.svg-->
                            <span class="svg-icon svg-icon-success svg-icon-3x"><svg width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M6 22H4V3C4 2.4 4.4 2 5 2C5.6 2 6 2.4 6 3V22Z"
                                        fill="currentColor" />
                                    <path
                                        d="M18 14H4V4H18C18.8 4 19.2 4.9 18.7 5.5L16 9L18.8 12.5C19.3 13.1 18.8 14 18 14Z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <div class="col-md-11">
                            <h3 class="card-title">Misyonumuz</h3>
                            <p>Tüm dünyadaki Binek ve Hafif Ticari Araç üreticilerine, Otomobil Yedek Parça Satış
                                Sonrası Pazarındaki; toptancı, perakendeci, servis ve tüketicilerine Yönlendirme ve
                                Süspansiyon Parçaları sağlayan ve üreten, tam zamanında, müşteri odaklı, paydaşlarını
                                geliştiren sektöre ve ürün standartlarını uygulayan, ileri teknoloji kullanan, insan
                                çevreye ve yasalara saygılı bir çözüm ortağı kuruluş olmak.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <br>
        <br>
        

    </div>
</div> *@


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container ">
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                   
                </div>
            </div>
            <div class="card-body py-5 mx-auto">
                <!-- Large button groups (default and split) -->
                <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Marka
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tip
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Model
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-warning mx-1 text-dark" type="button">Ara</button>
                </div>
            </div>
            <div class="card-footer 1">
                               <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.motor1.com/images/mgl/P33J9G/s3/2022-bmw-3er-limousine.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://ares.shiftdelete.net/2021/09/mercedes-fiyat-listesi-tum-modeller-2021.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://maserati.scene7.com/is/image/maserati/maserati/international/Models/my23/granturismo/assets/05_169_2.jpg?$1920x2000$&fit=constrain" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
            <div class="card-footer 2">
                <div class="card-group ">
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>BMW </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                            <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">3 Serisi Yedek Parça</a><br>
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">5 Serisi Yedek Parça</a><br>
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">7 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X3 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X5 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X6 Serisi Yedek Parça</a><br>      
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>Mercedes </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mercedes-Logo.svg/2048px-Mercedes-Logo.svg.png" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                             <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">A Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">C Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">E Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">S Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">G Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">V Serisi Yedek Parça</a><br>   

                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>VW </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Volkswagen_Logo_till_1995.svg/2048px-Volkswagen_Logo_till_1995.svg.png" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                             <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Golf Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Passat Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Jetta Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Polo Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Tiguan Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Transporter Yedek Parça</a><br>   
                            
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
